/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.pane {
	-fx-background-color :  #6da9ef
;
}

.subpane {
	-fx-background-color : #ffffff;
	-fx-background-radius : 4px;
	-fx-background-opacity : 0.3;
}

.button {
	-fx-background-color : #ffffff;
	-fx-background-radius : 4px;
	-fx-text-color : #999999;
}