/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.pane {
	-fx-background-color : #5809d6;
}

  
.button1
{
-fx-background-color : #393351;
-fx-background-radius :  30 0 0 30;
}
.button1:hover
{
-fx-background-color : #524A7B ;
-fx-background-radius :  30 0 0 30;
}
.button1:pressed
{
-fx-background-color : #2F2B43 ;
-fx-background-radius :  30 0 0 30;
}

.button2
{
-fx-background-color :  #4227b8;
-fx-background-radius :  20;
}
.button2:hover
{
-fx-background-color : #524A7B ;
-fx-background-radius :  20;
}
.button2:pressed
{
-fx-background-color : #2F2B43 ;
-fx-background-radius :  20;
}

.button3
{
    -fx-background-color : #4227b8;
    -fx-background-radius :  0 0 0 0;
}
.button3:hover
{
    -fx-background-color : #524A7B ;
}
.button3:pressed
{
    -fx-background-color : #2F2B43 ;
}

.button4
{
    -fx-background-color :linear-gradient(to top left, #41951C, #D4CEE3);
    -fx-background-radius :  30 30 30 30;
}
.button4:hover
{
    -fx-background-color :linear-gradient(to top left, #D4CEE3, #41951C);
    -fx-background-radius :  30 30 30 30;
}
.button4:pressed
{
    -fx-background-color :linear-gradient(to top left, #41951C, #D4CEE3);
    -fx-background-radius :  30 30 30 30;
}



